# Gitignore settings for ESPHome
# This is an example and may include too much for your use-case.
# You can modify this file to suit your needs.
/config/.esphome/
**/.pioenvs/
**/.piolibdeps/
**/lib/
**/src/
**/platformio.ini
**/partitions.csv
/secrets.yaml
config/.gitignore
wo-is-der-mist.txt
**/@eaDir
config/common.bac-2025-05-16/
/config/esp32_panlab.yaml
/config/.platformio/config/.pip/
config/.pip/

config/.platformio/

