substitutions:
  # ESP für Büro
  devicename: "esp32_1"
  upper_devicename: "ESP32 1"
  devicecomment: "Büro - DHT + RGB LED"
  number_leds: "1"
  boot_brightness: "10%"
  boot_effect: "none"
  dht_gpio: "GPIO33"
  dht_offset: "0.0"

  # on_boot:
  #    - priority: -100
  #      then:
  #        - wait_until: api.connected
  #        - delay: 1s
  #        - if:
  #            condition:
  #              switch.is_on: use_wake_word
  #            then:
  #              - voice_assistant.start_continuous:


# <<: !include common/esp32-lights.yaml
<<: !include common/esp32.yaml

packages:
  # web_server: !include base-web_server.yaml
  esphome: !include common/base-esphome.yaml
  wifi: !include common/base-wifi.yaml
  ota: !include common/base-ota.yaml
  sensor: !include common/base-sensor.yaml
  binary_sensor: !include common/base-binary_sensor.yaml
  text_sensor: !include common/base-text_sensor.yaml
  bluetooth: !include common/base-ble.yaml
  # bluetooth: !include common/empty.yaml

sensor:
  - !include common/ext-sensor-dht.yaml
  - !include common/ext-template-dht.yaml

# # esphome:
# #   includes:
# #     - lambdas/my_play_media_data.h
# #   name: $devicename
# #   comment: $devicecomment

# # status_led in esp32 should be removed then
# light:
#   - platform: status_led
#     name: "$devicename - Status Led"
#     pin: GPIO2
#     on_turn_on:
#       - logger.log: "Status Light Turned On!"
#       - media_player.volume_set: 100%
#       # Static raw audio data
#       # - speaker.play: !lambda return my_play_media_data;
#       # - media_player.play_media: 'http://192.168.0.10:50002/m/NDLNA/472607.wav'
#       - media_player.play_media: "http://192.168.0.10:50002/m/NDLNA/449121.mp3"

# # Enable logging
# logger:
#   baud_rate: 115200
#   level: DEBUG


# mdns:
#   disabled: true

# device: uda1334a or CJMCU-1334
# see: https://github.com/adafruit/Adafruit-UDA1334A-I2S-Stereo-DAC-PCB

# see: https://gist.github.com/EverythingSmartHome/055fbdde31a607ef9d695d5cac780e94?permalink_comment_id=4747736
# see: https://medium.com/@the_smart_home_maker/use-esphome-and-home-assistant-to-replace-alexa-with-local-voice-assistant-part-i-prototype-1ff9f55602c0
# full setup: https://smarthomecircle.com/created-voice-assistant-esp32-with-wake-word-in-home-assistant

# i2s_audio:
#   i2s_lrclk_pin: GPIO27
#   i2s_bclk_pin: GPIO26

# microphone:
#   - platform: i2s_audio
#     id: mic
#     adc_type: external
#     i2s_din_pin: GPIO13
#     pdm: false

# speaker:
#   - platform: i2s_audio
#     id: big_speaker
#     dac_type: external
#     i2s_dout_pin: GPIO25
#     mode: mono

# voice_assistant:
#   microphone: mic
#   use_wake_word: false
#   noise_suppression_level: 2
#   auto_gain: 31dBFS
#   volume_multiplier: 2.0
#   speaker: big_speaker
#   id: assist


# switch:
#   - platform: template
#     name: Use wake word
#     id: use_wake_word
#     optimistic: true
#     restore_mode: RESTORE_DEFAULT_ON
#     entity_category: config
#     on_turn_on:
#       - lambda: id(assist).set_use_wake_word(true);
#       - if:
#           condition:
#             not:
#               - voice_assistant.is_running
#           then:
#             - voice_assistant.start_continuous
#     on_turn_off:
#       - voice_assistant.stop
#       - lambda: id(assist).set_use_wake_word(false);

# # see: https://esphome.io/components/i2s_audio
# i2s_audio:
#   # => wsel
#   i2s_lrclk_pin: GPIO33
#   # => bclk
#   i2s_bclk_pin: GPIO19
#   # not required by DAC
#   # i2s_mclk_pin: xx
#   id: my_i2s_audio

# # see: https://esphome.io/components/media_player/i2s_audio
# media_player:
#   - platform: i2s_audio
#     name: "$devicename - Media Player"
#     # id: "$devicename_media_player"
#     dac_type: external
#     # => DIN
#     i2s_dout_pin: GPIO22
#     # # => wsel
#     # i2s_lrclk_pin: GPIO33
#     # # => bclk
#     # i2s_bclk_pin: GPIO19
#     # should be a pin schema
#     mute_pin:
#       number: GPIO25
#       inverted: true
#     mode: stereo
#     # mode: mono
#     # i2s_audio_id: my_i2s_audio
#     # see: https://esphome.io/components/media_player/i2s_audio.html#external-dac
#     # only after 2023.06
#     # i2s_comm_fmt: lsb
#     # i2s_comm_fmt: msb
#     on_play:
#       then:
#         # - light.turn_on: board_light
#         - logger.log: "Playback started"
#     on_idle:
#       then:
#         # - light.turn_off: board_light
#         - logger.log: "Idle"
#     on_pause:
#       then:
#         # - light.turn_off: board_light
#         - logger.log: "Paused"

# speaker:
#   - platform: i2s_audio
#     dac_type: external
#     i2s_dout_pin: GPIO22
#     mode: stereo
#     id: my_speaker


# #### not in use
# i2s_audio:
#   # => wsel
#   i2s_lrclk_pin: GPIO33
#   # => bclk
#   i2s_bclk_pin: GPIO19
#   # not required by DAC
#   # i2s_mclk_pin: xx
#   id: my_i2s_audio
# speaker:
#   - platform: i2s_audio
#     dac_type: external
#     i2s_dout_pin: GPIO22
#     mode: stereo
#     id: my_speaker
# #### not in use

# # switch:
# #   - platform: mqtt
# #     name: play song
# #     state_topic: "player/state"
# #     command_topic: "player/play"
# #     payload_on: "http://192.168.0.10:50002/m/NDLNA/472607.wav"
# #     payload_off: "http://192.168.0.10:50002/m/NDLNA/472609.wav"

# # see: https://github.com/esphome/issues/issues/4645
# external_components:
#   - source: github://esphome/esphome@2023.3.2
#     components: [i2s_audio, media_player]
# #   # - platform: ble_rssi
# #   #   mac_address: !secret fitness_tracker
# #   #   name: "${devicename} Tracker Signal"
