substitutions:
  # led leiste jakob
  devicename: "esp32_5"
  upper_devicename: "ESP32 5"
  devicecomment: "Kinderzimmer Jakob - RGB LED"
  number_leds: "108"
  boot_brightness: "45%"
  boot_effect: "Color change"
  rgb_order: GRB


<<: !include common/esp32-lights.yaml

packages:
  # web_server: !include base-web_server.yaml
  esphome: !include common/base-esphome.yaml
  wifi: !include common/base-wifi.yaml
  ota: !include common/base-ota.yaml
  sensor: !include common/base-sensor.yaml
  binary_sensor: !include common/base-binary_sensor.yaml
  text_sensor: !include common/base-text_sensor.yaml
  bluetooth: !include common/base-ble.yaml
  # bluetooth: !include common/empty.yaml