substitutions:
  # led leiste david
  devicename: "esp32_2"
  upper_devicename: "ESP32 2"
  devicecomment: "Kinderzimmer David - RGB LED"
  number_leds: "75"
  boot_brightness: "25%"
  boot_effect: "Color change"

<<: !include common/esp32-lights.yaml

packages:
  # web_server: !include base-web_server.yaml
  esphome: !include common/base-esphome.yaml
  wifi: !include common/base-wifi.yaml
  ota: !include common/base-ota.yaml
  sensor: !include common/base-sensor.yaml
  binary_sensor: !include common/base-binary_sensor.yaml
  text_sensor: !include common/base-text_sensor.yaml
  bluetooth: !include common/base-ble.yaml
  # bluetooth: !include common/empty.yaml