substitutions:
  # steckdose Lüftung Terrasse
  devicename: "sonoff_d1"
  upper_devicename: "Sonoff D1"
  devicecomment: "Terrasse Belüftung"

esphome:
  name: $devicename
  comment: $devicecomment

esp8266:
  board: esp8285
  restore_from_flash: true

<<: !include common/base.yaml

uart:
  rx_pin: RX
  tx_pin: TX
  baud_rate: 9600

light:
  - platform: sonoff_d1
    use_rm433_remote: False
    name: "${devicename} - Lüftung Terrasse"
    restore_mode: RESTORE_DEFAULT_OFF
    gamma_correct: 0.0
    default_transition_length: 1s

  - platform: status_led
    name: "${devicename} - Blue LED"
    pin: GPIO13
