# platform: fastled_clockless
# platform: neopixelbus
platform: esp32_rmt_led_strip
# name: ${devicename} - Licht
name: "Licht"
icon: mdi:led-outline
# chipset: WS2812b
chipset: WS2812
# rmt_channel: 0
# variant: WS2812X
# pin: D1
# U2 TX 34
pin: GPIO17
num_leds: $number_leds
# rgb_order: GRB
rgb_order: $rgb_order
# restore_mode: RESTORE_DEFAULT_OFF
# type: GRB
on_turn_on:
  - light.turn_on:
      id: WS2812b
      effect: $boot_effect
id: WS2812b
<<: !include param-light-effects.yaml
